

# Generated release workspace
.release/

# Node
node_modules/

# OS/editor
.DS_Store
Thumbs.db
*.log

release-input/*
!release-input/README.md

test

scripts/release

package-all-legacy.ts

dist

.release-test